.container {
  &__index {
    font-size: 5rem;
    color: #aa4a44;
  }

  &__card {
    max-width: 700px;
    min-height: 260px;
    min-width: 300px;
    overflow: hidden;

    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    border-radius: 5px;

    &:hover {
      background-color: rgba(149, 157, 165, 0.2);
      cursor: pointer;
    }
  }
}

img {
  max-width: 170px;
  border-radius: 5px;
}
